#section_main {
	margin: 30px 0 0 0;
}

/*#header {
	background: none;
}

#account {
	font-size: 18px;
}

#account li {
	padding: 0 10px;
	line-height: 1.6em;
}

#account a {
	color: #999;
}

#search {
	display: inline;
}

input#search-text {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 190px;
	padding-left: 15px;
	margin-top: 10px;
	margin-left: 20px;
	height: 30px;
}*/

span.step {
	background: #FF0000;
	background: -moz-linear-gradient(top, #FFCCCC 0%, #FF0000);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFCCCC), to(#FF0000));
	border-radius: 0.7em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.7em;
	color: white;
	display: inline-block;
	font-weight: bold;
	line-height: 1.4em;
	margin-right: 5px;
	text-align: center;
	width: 1.4em;
	position: relative;
	top: -7px;
	left: -1px;
	font-size: 13px;
}

.breadcrumbs .sep {
	color: #bbb;
	font-weight: bold;
	padding: 0 3px;
	font-size: 8px;
	position: relative;
	top: -2px;
}

.yo_badge_hurr {
	background: #f2f2f2;
	height: 90px;
	width: 100px;
	text-align: center;
	float: left;
}

.yo_badge_hurr h4 {
	color: #08233a;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 13px 0 5px 0;
}

.yo_badge_hurr .gotta {
	color: #818181;
	font-size: 11px;
}

.str8line {
	height: 1px;
	background: #cee0e9;
	border-top: none;
	margin: 0;
}

.move_down {
	position: relative;
	top: 7px;
}

.lock {
	background-image: url('/images/icon-lock-grey.png');
	width: 19px;
	height: 22px;
	float: left;
}

.primary_btn_wrapper .button {
	font-size: 18px !important;
	font-weight: bold;
}

.secondary_cta:hover {
	background: #efefef;
  	border: 1px solid #ccc;
}

#before_footer {
height: 100px;
position: relative;
top: -375px;
}

/* New test landing page styles 07/10/2013 */

.test hr { clear: both; }

#test_icon { 
	float: left;
	margin-right: 3%; }

.test_heading { 
	float: left;
	width: 68%;
	margin-right: 3%;
	margin-bottom: 2em; } 

	.test_heading h1 { margin-bottom: 0px; }
	.test_heading span { margin-bottom: 15px; display: block; }
	.test_heading p { float: left; }

	.test_heading .button { 
		float: left;
		margin-right: 15px; }

.test_badge { 
	float: left;
	width: 12%; }

.badge_placeholder { 
	-webkit-border-radius: 3px;
			border-radius: 3px;
	background: #f5f5fd;
	border: 1px dotted #ddd;
	width: 100px;
	height: 90px;
	padding: 15px 7px;
	text-align: center }

	.badge_placeholder p { 
		font-size: 13px;
		margin-bottom: 7px;
		line-height: 1; }

.test_vitals li { 
	margin-left: 0;
	font-size: 13px; }

.third.two h4 { 
	float: left;
	width: 20%;
	margin-right: 3%; }

.test_details { 
	width: 77%;
	float: left; }

.test_recommended .test_list li { 
	width: 25%;
	margin-right: 0; }

.test_recommended .test_list li p { font-size: 13px; }

.test_more { 
	position: relative;
	float: right;
	z-index: 100;
	padding: 15px 0 10px 15px;
	background: #fff;
	margin-bottom: -17px; }

.two.third .test_community h4 { 
	float: none;
	width: 100%; }

.two.third .test_community .users { clear: left; }

.two.third .test_community .users h6 { 
	float: left;
	font-size: 15px;
	width: 20%;
	margin-right: 3%;
	margin-bottom: 7px; }

.two.third .test_community .users li { 
	float: left;
	padding: 0;
	margin: 0 5px 3px; }

/* ===================================
COLORS
=================================== */

.top_section { 
	background: #F5FAFC }

/* ===================================
SLIDESHOW
=================================== */

div.slideshow { 
	display: block;
	width: 100%; }

div.slideshow img { 
	height: 130px;
	width: 130px;
	margin-right: 2em;
	float: left; }

div.slideshow h2 { 
	padding: 0;
	float: left;
	clear: none;
	width: 70%;
	border: 0;
	margin: 0 0 7px;
	font-size: 30px; }

div.slideshow p { 
	font-size: 15px;
	float: left;
	width: 70%;
	margin-bottom: 15px; }

div.slideshow a { 
	display: block;
	float: none; }

div.select_options { 
	margin-top: 15px; }

/* ===================================
CATEGORY LIST
=================================== */

.categories ul li { 
	margin-left: 0;
	border-top: 1px solid #E5E5E5;
	padding: 7px 0; }

/* ===================================
SIDE COLUMN
=================================== */

div.side_column { 
	width: 14.349%; }

div.side_column.right { margin-left: 0; }

div.side_column.left { margin-right: 0; }

div.side_column li { 
	width: 100%; }

div.side_column h2, .recent_history h2 { 
	font-size: 15px;
	margin-bottom: 15px;  }

div.side_column.right p, div.side_column.right a { 
	font-size: 13px; }

div.side_column.right p, div.side_column.right a { 
	font-size: 11px; }

div.side_column > * { 
	clear: both;
	overflow: hidden;
	margin-bottom: 30px; }

	div.side_column .test_info, 
	div.side_column img { 
		float: left; }

	div.side_column img { 
		height: 30px;
		width: 30px;
		padding: 0; }

/* ===================================
CENTER COLUMN
=================================== */

.center_column { margin-bottom: 2em; }

.center_column .test_list li { 
	width: 17%; }

.horizontal.test_list li { 
	width: 15%;
	margin-right: 2%;
	height: 150px;
	margin-bottom: 1em; }

	.horizontal.test_list li:nth-child(6n),
	.horizontal.test_list li.last { 
		margin-right: 0; }

.center_column .test_list img,
.horizontal.test_list img { 
	margin: 0 0 15px;
	float: none; }

.center_column > div { 
	margin-bottom: 15px; }

.center_column > div:last-child { 
	margin-bottom: 0; }

.center_column > div > a.more_link { 
	clear: both;
	display: block;
	text-align: right; }

.center_column h2 { 
	font-size: 20px;
	border-top: 2px solid #e5e5e5;
	clear: both;
	padding-top: 15px; }

.center_column .test_list li .test_info,
.horizontal.test_list li .test_info { 
	width: 100%; }

/* ===================================
IN DEV
=================================== */

#in_dev .what_is_this { 
	right: 0;
	top: 0;
	margin-top: 1.5em;
	position: absolute; }

	#in_dev .what_is_this .bubble { 
		left: -175%;
		margin-top: 1em; }

	#in_dev .what_is_this .bubble:after { 
		right: -40%; }

/* ===================================
RECENT HISTORY
=================================== */

.recent_history .your_recent_history{ 
	top: 0!important; }

.recent_history h2 { 
	margin-bottom: 0; }

.recent_history ul li { 
	float: left;
	width: 17%;
	padding-bottom: 0;
	margin-right: 3%;
	margin-left: 0; }

	.recent_history ul li a {
		float: left;
		margin-right: 7px; }
	
	.recent_history ul li:last-child, .recent_history ul li.last_child { 
		margin-right: 0; }

	.recent_history ul li img { 
		height: 30px;
		width: 30px;
		padding: 0; }

	.recent_history ul li h4,
	.recent_history ul li h5 { 
		font-size: 13px;
		width: 75%;
		float: left;
		margin-bottom: 0; }

#before_footer {
	height: 100px;
	position: relative;
	top: -550px;
	z-index: 3; }

.grid, .grid12, .grid11, .grid10, .grid9, .grid8, .grid7, .grid6, .grid5, .grid4, .grid3, .grid2, .grid1 {
	float: left;
	position: relative; /* removed !important on position relative, may see some wonky positioning in the future - JS 08092013 */
	margin-left: 2.3145%;
	margin-right: 2.3145%; }

.grid12 { width: 95.355%; }
.breadcrumbs .sep {
	color: #bbb;
	font-weight: bold;
	padding: 0 3px;
	font-size: 8px;
	position: relative;
	top: -2px;
}
/* ===================================
TEST LIST

Default test list and info styling. 
Used mostly in test search results ant the test shop.
=================================== */

ul.test_list li { 
	overflow: hidden;
	margin: 0;
	float: left; }

	ul.test_list li:last-child { 
		padding-bottom: 0; }

	.grid8 ul.test_list li { 
		margin-right: 3%; }

	.grid8 ul.test_list li:last-child { 
		margin-right: 0%; }

ul.test_list img, 
.slideshow img { 
	height: 60px;
	width: 60px;
	padding: .5em;
	display: block;
	float: left;
	margin-right: 7px;
	margin-bottom: 15px;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #E5E5E5; }

	ul.test_list li > a { 
		color: #e5e5e5; }

	ul.test_list li > a img:hover { background: #F5FAFC; }

ul.test_list h4 { 
	margin-bottom: 0;
	font-size: 15px;
	float: left; }

ul.test_list p{ 
	margin-bottom: 0;
	float: left;
	font-size: 13px; }

	ul.test_list li .test_info { 
		width: 73%; }

		ul.test_list li .test_info > * { 
			float: none !important;
			width: 100% !important; 
			display: block; }
        