.border-box {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* @section 1.2 icomoon icons */
@font-face {
  font-family: 'IcoMoon';
  src: url('../font/icomoon.eot');
  src: url('../font/icomoon.eot?#iefix') format('embedded-opentype'), url('../font/icomoon.svg#IcoMoon') format('svg'), url('../font/icomoon.woff') format('woff'), url('../font/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'IcoMoon';
  content: attr(data-icon);
  speak: none;
}
/* Use the following CSS code if you want to have a class per icon */
[class^="icomoon-"]:before,
[class*=" icomoon-"]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}
/* taken from font awesome */
/* makes sure icons active on rollover in links */
a [class^="icomoon-"],
a [class*=" icomoon-"] {
  display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.icomoon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.btn [class^="icomoon-"],
.nav [class^="icomoon-"],
.btn [class*=" icomoon-"],
.nav [class*=" icomoon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */

  line-height: .6em;
}
.btn [class^="icomoon-"].icomoon-spin,
.nav [class^="icomoon-"].icomoon-spin,
.btn [class*=" icomoon-"].icomoon-spin,
.nav [class*=" icomoon-"].icomoon-spin {
  display: inline-block;
}
li [class^="icomoon-"],
li [class*=" icomoon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="icomoon-"].icomoon-large,
li [class*=" icomoon-"].icomoon-large {
  /* increased font size for icomoon-large */

  width: 1.5625em;
}
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="icomoon-"],
ul.icons li [class*=" icomoon-"] {
  width: .75em;
}
.icomoon-muted {
  color: #eeeeee;
}
.icomoon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icomoon-2x {
  font-size: 2em;
}
.icomoon-2x.icomoon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icomoon-3x {
  font-size: 3em;
}
.icomoon-3x.icomoon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icomoon-4x {
  font-size: 4em;
}
.icomoon-4x.icomoon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icomoon-"].pull-left,
[class*=" icomoon-"].pull-left {
  margin-right: .35em;
}
[class^="icomoon-"].pull-right,
[class*=" icomoon-"].pull-right {
  margin-left: .35em;
}
.btn [class^="icomoon-"].pull-left.icomoon-2x,
.btn [class*=" icomoon-"].pull-left.icomoon-2x,
.btn [class^="icomoon-"].pull-right.icomoon-2x,
.btn [class*=" icomoon-"].pull-right.icomoon-2x {
  margin-top: .35em;
}
.btn [class^="icomoon-"].icomoon-spin.icomoon-large,
.btn [class*=" icomoon-"].icomoon-spin.icomoon-large {
  height: .75em;
}
.btn.btn-small [class^="icomoon-"].pull-left.icomoon-2x,
.btn.btn-small [class*=" icomoon-"].pull-left.icomoon-2x,
.btn.btn-small [class^="icomoon-"].pull-right.icomoon-2x,
.btn.btn-small [class*=" icomoon-"].pull-right.icomoon-2x {
  margin-top: .45em;
}
.btn.btn-large [class^="icomoon-"].pull-left.icomoon-2x,
.btn.btn-large [class*=" icomoon-"].pull-left.icomoon-2x,
.btn.btn-large [class^="icomoon-"].pull-right.icomoon-2x,
.btn.btn-large [class*=" icomoon-"].pull-right.icomoon-2x {
  margin-top: .2em;
}
.icomoon-home:before {
  content: "\e001";
}
.icomoon-home-2:before {
  content: "\e002";
}
.icomoon-home-3:before {
  content: "\e003";
}
.icomoon-office:before {
  content: "\e004";
}
.icomoon-newspaper:before {
  content: "\e005";
}
.icomoon-pencil:before {
  content: "\e006";
}
.icomoon-pencil-2:before {
  content: "\e007";
}
.icomoon-quill:before {
  content: "\e008";
}
.icomoon-pen:before {
  content: "\e009";
}
.icomoon-blog:before {
  content: "\e00a";
}
.icomoon-droplet:before {
  content: "\e00b";
}
.icomoon-paint-format:before {
  content: "\e00c";
}
.icomoon-image:before {
  content: "\e00d";
}
.icomoon-image-2:before {
  content: "\e00e";
}
.icomoon-images:before {
  content: "\e00f";
}
.icomoon-camera:before {
  content: "\e010";
}
.icomoon-music:before {
  content: "\e011";
}
.icomoon-headphones:before {
  content: "\e012";
}
.icomoon-play:before {
  content: "\e013";
}
.icomoon-film:before {
  content: "\e014";
}
.icomoon-camera-2:before {
  content: "\e015";
}
.icomoon-dice:before {
  content: "\e016";
}
.icomoon-pacman:before {
  content: "\e017";
}
.icomoon-spades:before {
  content: "\e018";
}
.icomoon-clubs:before {
  content: "\e019";
}
.icomoon-diamonds:before {
  content: "\e01a";
}
.icomoon-pawn:before {
  content: "\e01b";
}
.icomoon-bullhorn:before {
  content: "\e01c";
}
.icomoon-connection:before {
  content: "\e01d";
}
.icomoon-podcast:before {
  content: "\e01e";
}
.icomoon-feed:before {
  content: "\e01f";
}
.icomoon-book:before {
  content: "\e020";
}
.icomoon-books:before {
  content: "\e021";
}
.icomoon-library:before {
  content: "\e022";
}
.icomoon-file:before {
  content: "\e023";
}
.icomoon-profile:before {
  content: "\e024";
}
.icomoon-file-2:before {
  content: "\e025";
}
.icomoon-file-3:before {
  content: "\e026";
}
.icomoon-file-4:before {
  content: "\e027";
}
.icomoon-copy:before {
  content: "\e028";
}
.icomoon-copy-2:before {
  content: "\e029";
}
.icomoon-copy-3:before {
  content: "\e02a";
}
.icomoon-paste:before {
  content: "\e02b";
}
.icomoon-paste-2:before {
  content: "\e02c";
}
.icomoon-paste-3:before {
  content: "\e02d";
}
.icomoon-stack:before {
  content: "\e02e";
}
.icomoon-folder:before {
  content: "\e02f";
}
.icomoon-folder-open:before {
  content: "\e030";
}
.icomoon-tag:before {
  content: "\e031";
}
.icomoon-tags:before {
  content: "\e032";
}
.icomoon-barcode:before {
  content: "\e033";
}
.icomoon-qrcode:before {
  content: "\e034";
}
.icomoon-ticket:before {
  content: "\e035";
}
.icomoon-cart:before {
  content: "\e036";
}
.icomoon-cart-2:before {
  content: "\e037";
}
.icomoon-cart-3:before {
  content: "\e038";
}
.icomoon-coin:before {
  content: "\e039";
}
.icomoon-credit:before {
  content: "\e03a";
}
.icomoon-calculate:before {
  content: "\e03b";
}
.icomoon-support:before {
  content: "\e03c";
}
.icomoon-phone:before {
  content: "\e03d";
}
.icomoon-phone-hang-up:before {
  content: "\e03e";
}
.icomoon-address-book:before {
  content: "\e03f";
}
.icomoon-notebook:before {
  content: "\e040";
}
.icomoon-envelop:before {
  content: "\e041";
}
.icomoon-pushpin:before {
  content: "\e042";
}
.icomoon-location:before {
  content: "\e043";
}
.icomoon-location-2:before {
  content: "\e044";
}
.icomoon-compass:before {
  content: "\e045";
}
.icomoon-map:before {
  content: "\e046";
}
.icomoon-map-2:before {
  content: "\e047";
}
.icomoon-history:before {
  content: "\e048";
}
.icomoon-clock:before {
  content: "\e049";
}
.icomoon-clock-2:before {
  content: "\e04a";
}
.icomoon-alarm:before {
  content: "\e04b";
}
.icomoon-alarm-2:before {
  content: "\e04c";
}
.icomoon-bell:before {
  content: "\e04d";
}
.icomoon-stopwatch:before {
  content: "\e04e";
}
.icomoon-calendar:before {
  content: "\e04f";
}
.icomoon-calendar-2:before {
  content: "\e050";
}
.icomoon-print:before {
  content: "\e051";
}
.icomoon-keyboard:before {
  content: "\e052";
}
.icomoon-screen:before {
  content: "\e053";
}
.icomoon-laptop:before {
  content: "\e054";
}
.icomoon-mobile:before {
  content: "\e055";
}
.icomoon-mobile-2:before {
  content: "\e056";
}
.icomoon-tablet:before {
  content: "\e057";
}
.icomoon-tv:before {
  content: "\e058";
}
.icomoon-cabinet:before {
  content: "\e059";
}
.icomoon-drawer:before {
  content: "\e05a";
}
.icomoon-drawer-2:before {
  content: "\e05b";
}
.icomoon-drawer-3:before {
  content: "\e05c";
}
.icomoon-box-add:before {
  content: "\e05d";
}
.icomoon-box-remove:before {
  content: "\e05e";
}
.icomoon-download:before {
  content: "\e05f";
}
.icomoon-upload:before {
  content: "\e060";
}
.icomoon-disk:before {
  content: "\e061";
}
.icomoon-storage:before {
  content: "\e062";
}
.icomoon-undo:before {
  content: "\e063";
}
.icomoon-redo:before {
  content: "\e064";
}
.icomoon-flip:before {
  content: "\e065";
}
.icomoon-flip-2:before {
  content: "\e066";
}
.icomoon-undo-2:before {
  content: "\e067";
}
.icomoon-redo-2:before {
  content: "\e068";
}
.icomoon-forward:before {
  content: "\e069";
}
.icomoon-reply:before {
  content: "\e06a";
}
.icomoon-bubble:before {
  content: "\e06b";
}
.icomoon-bubbles:before {
  content: "\e06c";
}
.icomoon-bubbles-2:before {
  content: "\e06d";
}
.icomoon-bubble-2:before {
  content: "\e06e";
}
.icomoon-bubbles-3:before {
  content: "\e06f";
}
.icomoon-bubbles-4:before {
  content: "\e070";
}
.icomoon-user:before {
  content: "\e071";
}
.icomoon-users:before {
  content: "\e072";
}
.icomoon-user-2:before {
  content: "\e073";
}
.icomoon-users-2:before {
  content: "\e074";
}
.icomoon-user-3:before {
  content: "\e075";
}
.icomoon-user-4:before {
  content: "\e076";
}
.icomoon-busy:before {
  content: "\e000";
}
.icomoon-spinner:before {
  content: "\e077";
}
.icomoon-spinner-2:before {
  content: "\e078";
}
.icomoon-spinner-3:before {
  content: "\e079";
}
.icomoon-spinner-4:before {
  content: "\e07a";
}
.icomoon-spinner-5:before {
  content: "\e07b";
}
.icomoon-spinner-6:before {
  content: "\e07c";
}
.icomoon-binoculars:before {
  content: "\e07d";
}
.icomoon-search:before {
  content: "\e07e";
}
.icomoon-zoom-in:before {
  content: "\e07f";
}
.icomoon-zoom-out:before {
  content: "\e080";
}
.icomoon-expand:before {
  content: "\e081";
}
.icomoon-contract:before {
  content: "\e082";
}
.icomoon-expand-2:before {
  content: "\e083";
}
.icomoon-contract-2:before {
  content: "\e084";
}
.icomoon-key:before {
  content: "\e085";
}
.icomoon-key-2:before {
  content: "\e086";
}
.icomoon-lock:before {
  content: "\e087";
}
.icomoon-lock-2:before {
  content: "\e088";
}
.icomoon-unlocked:before {
  content: "\e089";
}
.icomoon-wrench:before {
  content: "\e08a";
}
.icomoon-settings:before {
  content: "\e08b";
}
.icomoon-equalizer:before {
  content: "\e08c";
}
.icomoon-cog:before {
  content: "\e08d";
}
.icomoon-cogs:before {
  content: "\e08e";
}
.icomoon-cog-2:before {
  content: "\e08f";
}
.icomoon-hammer:before {
  content: "\e090";
}
.icomoon-wand:before {
  content: "\e091";
}
.icomoon-aid:before {
  content: "\e092";
}
.icomoon-bug:before {
  content: "\e093";
}
.icomoon-pie:before {
  content: "\e094";
}
.icomoon-stats:before {
  content: "\e095";
}
.icomoon-bars:before {
  content: "\e096";
}
.icomoon-bars-2:before {
  content: "\e097";
}
.icomoon-gift:before {
  content: "\e098";
}
.icomoon-trophy:before {
  content: "\e099";
}
.icomoon-glass:before {
  content: "\e09a";
}
.icomoon-mug:before {
  content: "\e09b";
}
.icomoon-food:before {
  content: "\e09c";
}
.icomoon-leaf:before {
  content: "\e09d";
}
.icomoon-rocket:before {
  content: "\e09e";
}
.icomoon-meter:before {
  content: "\e09f";
}
.icomoon-meter2:before {
  content: "\e0a0";
}
.icomoon-dashboard:before {
  content: "\e0a1";
}
.icomoon-hammer-2:before {
  content: "\e0a2";
}
.icomoon-fire:before {
  content: "\e0a3";
}
.icomoon-lab:before {
  content: "\e0a4";
}
.icomoon-magnet:before {
  content: "\e0a5";
}
.icomoon-remove:before {
  content: "\e0a6";
}
.icomoon-remove-2:before {
  content: "\e0a7";
}
.icomoon-briefcase:before {
  content: "\e0a8";
}
.icomoon-airplane:before {
  content: "\e0a9";
}
.icomoon-truck:before {
  content: "\e0aa";
}
.icomoon-road:before {
  content: "\e0ab";
}
.icomoon-accessibility:before {
  content: "\e0ac";
}
.icomoon-target:before {
  content: "\e0ad";
}
.icomoon-shield:before {
  content: "\e0ae";
}
.icomoon-lightning:before {
  content: "\e0af";
}
.icomoon-switch:before {
  content: "\e0b0";
}
.icomoon-power-cord:before {
  content: "\e0b1";
}
.icomoon-signup:before {
  content: "\e0b2";
}
.icomoon-list:before {
  content: "\e0b3";
}
.icomoon-list-2:before {
  content: "\e0b4";
}
.icomoon-numbered-list:before {
  content: "\e0b5";
}
.icomoon-menu:before {
  content: "\e0b6";
}
.icomoon-menu-2:before {
  content: "\e0b7";
}
.icomoon-tree:before {
  content: "\e0b8";
}
.icomoon-cloud:before {
  content: "\e0b9";
}
.icomoon-cloud-download:before {
  content: "\e0ba";
}
.icomoon-cloud-upload:before {
  content: "\e0bb";
}
.icomoon-download-2:before {
  content: "\e0bc";
}
.icomoon-upload-2:before {
  content: "\e0bd";
}
.icomoon-download-3:before {
  content: "\e0be";
}
.icomoon-upload-3:before {
  content: "\e0bf";
}
.icomoon-globe:before {
  content: "\e0c0";
}
.icomoon-earth:before {
  content: "\e0c1";
}
.icomoon-link:before {
  content: "\e0c2";
}
.icomoon-flag:before {
  content: "\e0c3";
}
.icomoon-attachment:before {
  content: "\e0c4";
}
.icomoon-eye:before {
  content: "\e0c5";
}
.icomoon-eye-blocked:before {
  content: "\e0c6";
}
.icomoon-eye-2:before {
  content: "\e0c7";
}
.icomoon-bookmark:before {
  content: "\e0c8";
}
.icomoon-bookmarks:before {
  content: "\e0c9";
}
.icomoon-brightness-medium:before {
  content: "\e0ca";
}
.icomoon-brightness-contrast:before {
  content: "\e0cb";
}
.icomoon-contrast:before {
  content: "\e0cc";
}
.icomoon-star:before {
  content: "\e0cd";
}
.icomoon-star-2:before {
  content: "\e0ce";
}
.icomoon-star-3:before {
  content: "\e0cf";
}
.icomoon-heart:before {
  content: "\e0d0";
}
.icomoon-heart-2:before {
  content: "\e0d1";
}
.icomoon-heart-broken:before {
  content: "\e0d2";
}
.icomoon-thumbs-up:before {
  content: "\e0d3";
}
.icomoon-thumbs-up-2:before {
  content: "\e0d4";
}
.icomoon-happy:before {
  content: "\e0d5";
}
.icomoon-happy-2:before {
  content: "\e0d6";
}
.icomoon-smiley:before {
  content: "\e0d7";
}
.icomoon-smiley-2:before {
  content: "\e0d8";
}
.icomoon-tongue:before {
  content: "\e0d9";
}
.icomoon-tongue-2:before {
  content: "\e0da";
}
.icomoon-sad:before {
  content: "\e0db";
}
.icomoon-sad-2:before {
  content: "\e0dc";
}
.icomoon-wink:before {
  content: "\e0dd";
}
.icomoon-wink-2:before {
  content: "\e0de";
}
.icomoon-grin:before {
  content: "\e0df";
}
.icomoon-grin-2:before {
  content: "\e0e0";
}
.icomoon-cool:before {
  content: "\e0e1";
}
.icomoon-cool-2:before {
  content: "\e0e2";
}
.icomoon-angry:before {
  content: "\e0e3";
}
.icomoon-angry-2:before {
  content: "\e0e4";
}
.icomoon-evil:before {
  content: "\e0e5";
}
.icomoon-evil-2:before {
  content: "\e0e6";
}
.icomoon-shocked:before {
  content: "\e0e7";
}
.icomoon-shocked-2:before {
  content: "\e0e8";
}
.icomoon-confused:before {
  content: "\e0e9";
}
.icomoon-confused-2:before {
  content: "\e0ea";
}
.icomoon-neutral:before {
  content: "\e0eb";
}
.icomoon-neutral-2:before {
  content: "\e0ec";
}
.icomoon-wondering:before {
  content: "\e0ed";
}
.icomoon-wondering-2:before {
  content: "\e0ee";
}
.icomoon-point-up:before {
  content: "\e0ef";
}
.icomoon-point-right:before {
  content: "\e0f0";
}
.icomoon-point-down:before {
  content: "\e0f1";
}
.icomoon-point-left:before {
  content: "\e0f2";
}
.icomoon-warning:before {
  content: "\e0f3";
}
.icomoon-notification:before {
  content: "\e0f4";
}
.icomoon-question:before {
  content: "\e0f5";
}
.icomoon-info:before {
  content: "\e0f6";
}
.icomoon-info-2:before {
  content: "\e0f7";
}
.icomoon-blocked:before {
  content: "\e0f8";
}
.icomoon-cancel-circle:before {
  content: "\e0f9";
}
.icomoon-checkmark-circle:before {
  content: "\e0fa";
}
.icomoon-spam:before {
  content: "\e0fb";
}
.icomoon-close:before {
  content: "\e0fc";
}
.icomoon-checkmark:before {
  content: "\e0fd";
}
.icomoon-checkmark-2:before {
  content: "\e0fe";
}
.icomoon-spell-check:before {
  content: "\e0ff";
}
.icomoon-minus:before {
  content: "\e100";
}
.icomoon-plus:before {
  content: "\e101";
}
.icomoon-enter:before {
  content: "\e102";
}
.icomoon-exit:before {
  content: "\e103";
}
.icomoon-play-2:before {
  content: "\e104";
}
.icomoon-pause:before {
  content: "\e105";
}
.icomoon-stop:before {
  content: "\e106";
}
.icomoon-backward:before {
  content: "\e107";
}
.icomoon-forward-2:before {
  content: "\e108";
}
.icomoon-play-3:before {
  content: "\e109";
}
.icomoon-pause-2:before {
  content: "\e10a";
}
.icomoon-stop-2:before {
  content: "\e10b";
}
.icomoon-backward-2:before {
  content: "\e10c";
}
.icomoon-forward-3:before {
  content: "\e10d";
}
.icomoon-first:before {
  content: "\e10e";
}
.icomoon-last:before {
  content: "\e10f";
}
.icomoon-previous:before {
  content: "\e110";
}
.icomoon-next:before {
  content: "\e111";
}
.icomoon-eject:before {
  content: "\e112";
}
.icomoon-volume-high:before {
  content: "\e113";
}
.icomoon-volume-medium:before {
  content: "\e114";
}
.icomoon-volume-low:before {
  content: "\e115";
}
.icomoon-volume-mute:before {
  content: "\e116";
}
.icomoon-volume-mute-2:before {
  content: "\e117";
}
.icomoon-volume-increase:before {
  content: "\e118";
}
.icomoon-volume-decrease:before {
  content: "\e119";
}
.icomoon-loop:before {
  content: "\e11a";
}
.icomoon-loop-2:before {
  content: "\e11b";
}
.icomoon-loop-3:before {
  content: "\e11c";
}
.icomoon-shuffle:before {
  content: "\e11d";
}
.icomoon-arrow-up-left:before {
  content: "\e11e";
}
.icomoon-arrow-up:before {
  content: "\e11f";
}
.icomoon-arrow-up-right:before {
  content: "\e120";
}
.icomoon-arrow-right:before {
  content: "\e121";
}
.icomoon-arrow-down-right:before {
  content: "\e122";
}
.icomoon-arrow-down:before {
  content: "\e123";
}
.icomoon-arrow-down-left:before {
  content: "\e124";
}
.icomoon-arrow-left:before {
  content: "\e125";
}
.icomoon-arrow-up-left-2:before {
  content: "\e126";
}
.icomoon-arrow-up-2:before {
  content: "\e127";
}
.icomoon-arrow-up-right-2:before {
  content: "\e128";
}
.icomoon-arrow-right-2:before {
  content: "\e129";
}
.icomoon-arrow-down-right-2:before {
  content: "\e12a";
}
.icomoon-arrow-down-2:before {
  content: "\e12b";
}
.icomoon-arrow-down-left-2:before {
  content: "\e12c";
}
.icomoon-arrow-left-2:before {
  content: "\e12d";
}
.icomoon-arrow-up-left-3:before {
  content: "\e12e";
}
.icomoon-arrow-up-3:before {
  content: "\e12f";
}
.icomoon-arrow-up-right-3:before {
  content: "\e130";
}
.icomoon-arrow-right-3:before {
  content: "\e131";
}
.icomoon-arrow-down-right-3:before {
  content: "\e132";
}
.icomoon-arrow-down-3:before {
  content: "\e133";
}
.icomoon-arrow-down-left-3:before {
  content: "\e134";
}
.icomoon-arrow-left-3:before {
  content: "\e135";
}
.icomoon-tab:before {
  content: "\e136";
}
.icomoon-checkbox-checked:before {
  content: "\e137";
}
.icomoon-checkbox-unchecked:before {
  content: "\e138";
}
.icomoon-checkbox-partial:before {
  content: "\e139";
}
.icomoon-radio-checked:before {
  content: "\e13a";
}
.icomoon-radio-unchecked:before {
  content: "\e13b";
}
.icomoon-crop:before {
  content: "\e13c";
}
.icomoon-scissors:before {
  content: "\e13d";
}
.icomoon-filter:before {
  content: "\e13e";
}
.icomoon-filter-2:before {
  content: "\e13f";
}
.icomoon-font:before {
  content: "\e140";
}
.icomoon-text-height:before {
  content: "\e141";
}
.icomoon-text-width:before {
  content: "\e142";
}
.icomoon-bold:before {
  content: "\e143";
}
.icomoon-underline:before {
  content: "\e144";
}
.icomoon-italic:before {
  content: "\e145";
}
.icomoon-strikethrough:before {
  content: "\e146";
}
.icomoon-omega:before {
  content: "\e147";
}
.icomoon-sigma:before {
  content: "\e148";
}
.icomoon-table:before {
  content: "\e149";
}
.icomoon-table-2:before {
  content: "\e14a";
}
.icomoon-insert-template:before {
  content: "\e14b";
}
.icomoon-pilcrow:before {
  content: "\e14c";
}
.icomoon-left-to-right:before {
  content: "\e14d";
}
.icomoon-right-to-left:before {
  content: "\e14e";
}
.icomoon-paragraph-left:before {
  content: "\e14f";
}
.icomoon-paragraph-center:before {
  content: "\e150";
}
.icomoon-paragraph-right:before {
  content: "\e151";
}
.icomoon-paragraph-justify:before {
  content: "\e152";
}
.icomoon-paragraph-left-2:before {
  content: "\e153";
}
.icomoon-paragraph-center-2:before {
  content: "\e154";
}
.icomoon-paragraph-right-2:before {
  content: "\e155";
}
.icomoon-paragraph-justify-2:before {
  content: "\e156";
}
.icomoon-indent-increase:before {
  content: "\e157";
}
.icomoon-indent-decrease:before {
  content: "\e158";
}
.icomoon-new-tab:before {
  content: "\e159";
}
.icomoon-embed:before {
  content: "\e15a";
}
.icomoon-code:before {
  content: "\e15b";
}
.icomoon-console:before {
  content: "\e15c";
}
.icomoon-share:before {
  content: "\e15d";
}
.icomoon-mail:before {
  content: "\e15e";
}
.icomoon-mail-2:before {
  content: "\e15f";
}
.icomoon-mail-3:before {
  content: "\e160";
}
.icomoon-mail-4:before {
  content: "\e161";
}
.icomoon-google:before {
  content: "\e162";
}
.icomoon-google-plus:before {
  content: "\e163";
}
.icomoon-google-plus-2:before {
  content: "\e164";
}
.icomoon-google-plus-3:before {
  content: "\e165";
}
.icomoon-google-plus-4:before {
  content: "\e166";
}
.icomoon-google-drive:before {
  content: "\e167";
}
.icomoon-facebook:before {
  content: "\e168";
}
.icomoon-facebook-2:before {
  content: "\e169";
}
.icomoon-facebook-3:before {
  content: "\e16a";
}
.icomoon-instagram:before {
  content: "\e16b";
}
.icomoon-twitter:before {
  content: "\e16c";
}
.icomoon-twitter-2:before {
  content: "\e16d";
}
.icomoon-twitter-3:before {
  content: "\e16e";
}
.icomoon-feed-2:before {
  content: "\e16f";
}
.icomoon-feed-3:before {
  content: "\e170";
}
.icomoon-feed-4:before {
  content: "\e171";
}
.icomoon-youtube:before {
  content: "\e172";
}
.icomoon-youtube-2:before {
  content: "\e173";
}
.icomoon-vimeo:before {
  content: "\e174";
}
.icomoon-vimeo2:before {
  content: "\e175";
}
.icomoon-vimeo-2:before {
  content: "\e176";
}
.icomoon-lanyrd:before {
  content: "\e177";
}
.icomoon-flickr:before {
  content: "\e178";
}
.icomoon-flickr-2:before {
  content: "\e179";
}
.icomoon-flickr-3:before {
  content: "\e17a";
}
.icomoon-flickr-4:before {
  content: "\e17b";
}
.icomoon-picassa:before {
  content: "\e17c";
}
.icomoon-picassa-2:before {
  content: "\e17d";
}
.icomoon-dribbble:before {
  content: "\e17e";
}
.icomoon-dribbble-2:before {
  content: "\e17f";
}
.icomoon-dribbble-3:before {
  content: "\e180";
}
.icomoon-forrst:before {
  content: "\e181";
}
.icomoon-forrst-2:before {
  content: "\e182";
}
.icomoon-deviantart:before {
  content: "\e183";
}
.icomoon-deviantart-2:before {
  content: "\e184";
}
.icomoon-steam:before {
  content: "\e185";
}
.icomoon-steam-2:before {
  content: "\e186";
}
.icomoon-github:before {
  content: "\e187";
}
.icomoon-github-2:before {
  content: "\e188";
}
.icomoon-github-3:before {
  content: "\e189";
}
.icomoon-github-4:before {
  content: "\e18a";
}
.icomoon-github-5:before {
  content: "\e18b";
}
.icomoon-wordpress:before {
  content: "\e18c";
}
.icomoon-wordpress-2:before {
  content: "\e18d";
}
.icomoon-joomla:before {
  content: "\e18e";
}
.icomoon-blogger:before {
  content: "\e18f";
}
.icomoon-blogger-2:before {
  content: "\e190";
}
.icomoon-tumblr:before {
  content: "\e191";
}
.icomoon-tumblr-2:before {
  content: "\e192";
}
.icomoon-yahoo:before {
  content: "\e193";
}
.icomoon-tux:before {
  content: "\e194";
}
.icomoon-apple:before {
  content: "\e195";
}
.icomoon-finder:before {
  content: "\e196";
}
.icomoon-android:before {
  content: "\e197";
}
.icomoon-windows:before {
  content: "\e198";
}
.icomoon-windows8:before {
  content: "\e199";
}
.icomoon-soundcloud:before {
  content: "\e19a";
}
.icomoon-soundcloud-2:before {
  content: "\e19b";
}
.icomoon-skype:before {
  content: "\e19c";
}
.icomoon-reddit:before {
  content: "\e19d";
}
.icomoon-linkedin:before {
  content: "\e19e";
}
.icomoon-lastfm:before {
  content: "\e19f";
}
.icomoon-lastfm-2:before {
  content: "\e1a0";
}
.icomoon-delicious:before {
  content: "\e1a1";
}
.icomoon-stumbleupon:before {
  content: "\e1a2";
}
.icomoon-stumbleupon-2:before {
  content: "\e1a3";
}
.icomoon-stackoverflow:before {
  content: "\e1a4";
}
.icomoon-pinterest:before {
  content: "\e1a5";
}
.icomoon-pinterest-2:before {
  content: "\e1a6";
}
.icomoon-xing:before {
  content: "\e1a7";
}
.icomoon-xing-2:before {
  content: "\e1a8";
}
.icomoon-flattr:before {
  content: "\e1a9";
}
.icomoon-foursquare:before {
  content: "\e1aa";
}
.icomoon-foursquare-2:before {
  content: "\e1ab";
}
.icomoon-paypal:before {
  content: "\e1ac";
}
.icomoon-paypal-2:before {
  content: "\e1ad";
}
.icomoon-paypal-3:before {
  content: "\e1ae";
}
.icomoon-yelp:before {
  content: "\e1af";
}
.icomoon-libreoffice:before {
  content: "\e1b0";
}
.icomoon-file-pdf:before {
  content: "\e1b1";
}
.icomoon-file-openoffice:before {
  content: "\e1b2";
}
.icomoon-file-word:before {
  content: "\e1b3";
}
.icomoon-file-excel:before {
  content: "\e1b4";
}
.icomoon-file-zip:before {
  content: "\e1b5";
}
.icomoon-file-powerpoint:before {
  content: "\e1b6";
}
.icomoon-file-xml:before {
  content: "\e1b7";
}
.icomoon-file-css:before {
  content: "\e1b8";
}
.icomoon-html5:before {
  content: "\e1b9";
}
.icomoon-html5-2:before {
  content: "\e1ba";
}
.icomoon-css3:before {
  content: "\e1bb";
}
.icomoon-chrome:before {
  content: "\e1bc";
}
.icomoon-firefox:before {
  content: "\e1bd";
}
.icomoon-IE:before {
  content: "\e1be";
}
.icomoon-opera:before {
  content: "\e1bf";
}
.icomoon-safari:before {
  content: "\e1c0";
}
.icomoon-IcoMoon:before {
  content: "\e1c1";
}
/*******************************************************
 *
 * @section 2. Theme core styles
 * 
 ******************************************************/
/* @section 2.1 typography */
body,
html {
  font-family: "Source Sans Pro", sans-serif;
}
a {
  color: #54bcc8;
}
h1,
h2,
h3,
h4 {
  font-weight: 100;
  color: #2e356a;
}
h1 {
  font-size: 47.2px;
}
h2 {
  font-size: 47.2px;
}
h3 {
  font-size: 32.8px;
}
p {
  color: #597090;
  margin: 0 0 12px;
  line-height: 28.799999999999997px;
  font-size: 16px;
}
.lead {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 200;
  line-height: 36px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  display: block;
  font-weight: 300;
  font-size: 16px;
  color: #696762;
}
.bold {
  font-weight: bold;
}
h1.bold {
  font-size: 63.2px;
}
h2.bold {
  font-size: 48.8px;
}
.uc {
  text-transform: uppercase;
}
.de-em {
  color: rgba(51, 51, 51, 0.8);
}
a .de-em {
  color: inherit;
}
.hero .de-em {
  color: rgba(93, 101, 169, 0.8);
}
.em {
  color: #5d65a9;
}
.fancy {
  font-family: serif;
  font-style: italic;
}
h1.enlarge {
  font-size: 60px;
}
h2.enlarge {
  font-size: 52px;
}
h3.enlarge {
  font-size: 44px;
}
h4.enlarge {
  font-size: 36px;
}
h5.enlarge {
  font-size: 16px;
}
h6.enlarge {
  font-size: 29.6px;
}
address strong {
  margin-top: 5px;
  display: block;
}
address i {
  margin-right: 6px;
}
.img-wrap {
  float: left;
  margin: 0 1em 1em 0;
}
.img-wrap figcaption {
  font-size: 0.9em;
  font-weight: normal;
}
/* @section 2.2 layout */
#navigation {
  *zoom: 1;
  z-index: 200;
  background: #ffffff;
}
#navigation:before,
#navigation:after {
  display: table;
  content: "";
  line-height: 0;
}
#navigation:after {
  clear: both;
}
.navbar {
  color: #343331;
  margin: 0;
  border-bottom: 4px solid #2e356a;
}
.navbar-inner {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  height: 115px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#content {
  padding: 119px 0 0 0;
  background: #ffffff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#footer {
  min-height: 100px;
  padding: 20px 0;
  background: #2e356a;
  font-size: 14px;
  color: #d6daf5;
}
#footer p {
  font-size: 14px;
  color: #d6daf5;
}
#footer a {
  color: #54bcc8;
}
#footer a:hover {
  color: #54bcc8;
  cursor: pointer;
}
#footer .social-media a {
  color: #ffffff;
}
#footer .social-media a:hover {
  color: #d6daf5;
}
/* @section 2.3 menus */
#main-menu li a {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#main-menu li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 115px;
  line-height: 115px;
  padding: 0 25px;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  color: #0D0F32;
}
#main-menu li a small {
  display: block;
  line-height: 1;
}
#main-menu li a:hover .dropdown-menu {
  display: block;
}
#main-menu li a:hover {
  background: #ffffff;
  color: #5d65a9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#main-menu li .stamp {
  background: #54bac8;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  text-shadow: none;
  height: 85px;
  line-height: 85px;
  width: 85px;
  padding: 0;
  margin: 15px 0 15px 25px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-size: 19px;
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
  letter-spacing: 2px;
  font-family: 'Condiment', cursive;
}
#main-menu li .stamp:hover {
  background: #5d65a9;
  color: #ffffff;
}
#main-menu li.open a.dropdown-toggle,
#main-menu li.active a,
#main-menu li.current a,
#main-menu li.active a:hover {
  text-shadow: none;
  background: #ffffff;
}
#main-menu li.open a.dropdown-toggle .caret,
#main-menu li.active a .caret,
#main-menu li.current a .caret,
#main-menu li.active a:hover .caret {
  color: #ffffff;
}
#main-menu li.open a.dropdown-toggle.stamp,
#main-menu li.active a.stamp,
#main-menu li.current a.stamp,
#main-menu li.active a:hover.stamp {
  background: #5d65a9;
}
#main-menu li.open a.dropdown-toggle {
  border-bottom-color: transparent;
}
/* @section 2.4 mobile menu */
.mobile-toggle-trigger {
  font-size: 36px;
  color: #5d65a9;
  display: none;
  cursor: pointer;
  padding: 2px 8px;
  float: right;
  background: #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 1000;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  margin-top: 36px;
}
.mobile-toggle-trigger:hover,
.mobile-toggle-trigger.open {
  color: #ffffff;
  background: #B6C2D2;
  text-decoration: none;
}
.scroll-nav {
  position: fixed;
  top: 10px;
  right: -100px;
  margin-top: 0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.scroll-nav.scroll-show {
  right: 0;
}
.jpanel-menu-open .scroll-nav.scroll-show {
  right: 250px;
}
#jPanelMenu-menu {
  background: #B6C2D2;
  overflow-y: hidden !important;
}
#jPanelMenu-menu #main-menu li a {
  margin: 5px 10px;
  padding: 0.5em 1em;
  height: auto;
  line-height: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  background: #EDF0F5;
}
#jPanelMenu-menu #main-menu li a.stamp {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  width: auto;
  font-size: 20px;
  background: #54bac8;
}
#jPanelMenu-menu #main-menu li.current a {
  background: #ffffff;
}
#jPanelMenu-menu #main-menu li.current a.stamp {
  background: #5d65a9;
}
@media (max-width: 979px) {
  .mobile-toggle-trigger {
    display: block;
  }
  .mobile-toggle {
    display: none;
  }
  #jPanelMenu-menu {
    display: block;
  }
}
/* @section 2.5 common */
.navbar .brand {
  padding: 0;
  margin: 20.5px 0;
  display: block;
  text-shadow: none;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.brand h1 {
  display: inline-block;
  font-size: 40px;
  color: #5d65a9;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.brand h1 a {
  display: block;
  width: 230px;
  height: 74px;
  text-indent: -1000000px;
  background-image: url('../img/misc/icon_logo.png');
  background-size: 230px 74px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .brand h1 a {
    background-image: url('../img/misc/icon_logo@2x.png');
    background-size: 230px 74px;
  }
}
.brand h1 a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.slogan {
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #343331;
  text-align: center;
}
.cv-download {
  margin-top: 22px;
}
.block {
  padding-top: 3em;
  padding-bottom: 3em;
  position: relative;
}
.block.thin {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.block.large {
  padding-top: 5em;
  padding-bottom: 5em;
}
.block.gray,
.block .gray {
  background-color: #edf0f4;
}
.block.gray-light,
.block .gray-light {
  background-color: #f9f9f9;
}
.block.primary,
.block .primary {
  background-color: #5d65a9;
}
.block.primary,
.block .primary {
  color: #d6daf5;
}
.block.primary h1,
.block .primary h1,
.block.primary h2,
.block .primary h2,
.block.primary .bold,
.block .primary .bold {
  color: #ffffff;
}
.block.primary h3,
.block .primary h3,
.block.primary h4,
.block .primary h4,
.block.primary h5,
.block .primary h5,
.block.primary p,
.block .primary p {
  color: #d6daf5;
}
.block.primary h3.bold,
.block .primary h3.bold,
.block.primary h4.bold,
.block .primary h4.bold,
.block.primary h5.bold,
.block .primary h5.bold,
.block.primary p.bold,
.block .primary p.bold {
  color: #ffffff;
}
.block.border-bottom,
.block .border-bottom {
  border-bottom: 1px solid #ccc;
}
.block.border-bottom-light,
.block .border-bottom-light {
  border-bottom: 1px solid #eee;
}
.block.border-bottom-white,
.block .border-bottom-white {
  border-bottom: 1px solid #fff;
}
.block.border-top,
.block .border-top {
  border-top: 1px solid #ccc;
}
.block.border-top-light,
.block .border-top-light {
  border-top: 1px solid #eee;
}
.block.border-top-white,
.block .border-top-white {
  border-top: 1px solid #fff;
}
.colour {
  cursor: pointer;
}
.colour:after {
  font-size: 11px;
  padding-left: 5px;
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F10C';
}
.colour.on:after {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F111';
}
.social-media {
  text-align: center;
}
.social-media a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  text-align: center;
  margin: 1em 0.3em;
}
.social-media a i {
  font-size: 52px;
}
h1.title-divider {
  margin-top: 3em;
}
h2.title-divider {
  margin-top: 2em;
}
h3.title-divider {
  margin-top: 1em;
}
/* @section 2.6 navbar */
.navbar {
  background: #F6F7F9;
}
.navbar .nav {
  margin: 0;
  padding: 0;
  font-size: 11px;
}
@media (min-width: 980px) {
  .navbar-fixated .navbar-inner {
    height: 95px;
  }
  .navbar-fixated .navbar .brand {
    margin: 10.5px 0;
  }
  .navbar-fixated #main-menu li a {
    height: 95px;
    line-height: 95px;
  }
  .navbar-fixated #main-menu li a.stamp {
    height: 85px;
    line-height: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navbar-fixated #content {
    padding-top: 95px;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }
  .navbar .container {
    position: relative;
    width: 724px;
  }
  #content {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .mobile-toggle-trigger {
    margin-top: 14px;
  }
  .navbar .container {
    width: auto;
    padding: 0 1em;
  }
  body .navbar .brand {
    margin: 10px 0;
  }
  body .navbar .brand h1 a {
    width: 155px;
    height: 50px;
    background-size: 155px, 50px;
  }
  body .navbar .brand h1 a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  .navbar-inner {
    height: 70px;
  }
}
/* @section 2.7 utilities */
.i-float {
  *zoom: 1;
}
.i-float:before,
.i-float:after {
  display: table;
  content: "";
  line-height: 0;
}
.i-float:after {
  clear: both;
}
.i-float i,
.i-float span {
  float: left;
  text-align: left;
  width: 14%;
  display: block;
}
.i-float span {
  width: 84%;
}
.margin-top {
  margin-top: 2em;
}
.margin-top-small {
  margin-top: 1em;
}
.margin-top-large {
  margin-top: 3em;
}
.pull-right {
  text-align: right;
}
.pull-center {
  text-align: center;
}
.inline-el {
  display: inline-block;
}
.inline-el h1,
.inline-el h2,
.inline-el h3,
.inline-el h4,
.inline-el h5,
.inline-el p {
  margin: 0;
}
.well-small {
  padding: 9px;
}
.well-mini {
  padding: 5px;
}
.well.well-white {
  background-color: #ffffff;
  border: none;
}
.overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-wrapper.overlay-wrapper-bordered {
  border-bottom: 5px solid transparent;
}
.overlay-wrapper.overlay-wrapper-bordered:hover {
  border-bottom: 5px solid #d6daf5;
}
.overlay-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(84, 188, 200, 0.8);
  color: #ffffff;
  z-index: 100;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 220ms ease-out;
  -moz-transition: all 220ms ease-out;
  -o-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
  text-align: center;
  padding: 5% 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.overlay-wrapper .overlay.on {
  opacity: 1;
  filter: alpha(opacity=100);
}
.overlay-wrapper .underlay {
  z-index: 99;
}
.overlay-wrapper:hover .overlay,
.overlay-wrapper.flex-active .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.overlay-wrapper:hover .overlay.on,
.overlay-wrapper.flex-active .overlay.on {
  opacity: 0;
  filter: alpha(opacity=0);
}
.hidden {
  visibility: hidden;
  display: none;
}
.fancy {
  font-family: 'Condiment', cursive;
}
.spacer {
  font-weight: bold;
  color: #5d65a9;
}
.spacer.dark {
  color: #2e356a;
}
/* @section 2.8 slideshows */
.flexslider-wrapper {
  position: relative;
  overflow: hidden;
}
.flexslider {
  background: transparent;
  padding: 0 0 10px 0;
  list-style: none;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flexslider-animation-fade {
  /* Hide the slides before the JS is loaded. Avoids image jumping */

}
.flexslider-animation-fade .slides > .slide,
.flexslider-animation-fade .items > .item {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flex-direction-nav .flex-disabled {
  opacity: 0.6 !important;
  filter: alpha(opacity=60);
}
.flex-direction-nav a {
  text-indent: 0;
  font-size: 0;
  text-align: center !important;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  bottom: 0;
  right: 0;
  background: transparent;
  color: #54bcc8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 60px;
  height: 85px;
  line-height: 85px;
  top: 20%;
  font-weight: 100;
}
.flex-direction-nav a:before {
  font-family: 'FontAwesome';
  font-size: 32px;
}
.flex-direction-nav a.flex-next {
  right: 0;
}
.flex-direction-nav a.flex-next:before {
  content: '\f105';
}
.flex-direction-nav a.flex-prev {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  left: auto;
  right: 41px;
}
.flex-direction-nav a.flex-prev:before {
  content: '\f104';
}
.flex-direction-nav a:hover {
  text-decoration: none;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -5px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 3px;
}
.flex-control-nav li a {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 10px;
  width: 10px;
  border: 2px solid #343331;
  background: transparent;
}
.flex-control-nav li a:hover,
.flex-control-nav li a.flex-active {
  border-color: #54bcc8;
  background: transparent;
}
.flexslider-carousel {
  position: relative;
}
.flexslider-carousel .flex-direction-nav a {
  opacity: 0.8;
  filter: alpha(opacity=80);
  top: 20%;
}
.flexslider-carousel .flex-direction-nav a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
  color: #39a4b0;
  background: #ffffff;
}
.flexslider-carousel .flex-direction-nav a:before {
  font-size: 70px;
}
.flexslider-carousel .flex-direction-nav a.flex-prev {
  left: 0;
}
.flexslider-carousel .flex-direction-nav a.flex-next {
  right: 0;
}
.flexslider .slides img {
  width: auto;
  display: inline;
}
.flexslider.controls-top-right .flex-direction-nav a,
.flexslider-carousel.controls-top-right .flex-direction-nav a {
  background: #5d65a9;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: -25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.flexslider.controls-top-right .flex-direction-nav a:hover,
.flexslider-carousel.controls-top-right .flex-direction-nav a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.flexslider.controls-top-right .flex-direction-nav a.flex-prev,
.flexslider-carousel.controls-top-right .flex-direction-nav a.flex-prev {
  left: auto;
}
.flexslider.controls-top-right .flex-direction-nav a.flex-next,
.flexslider-carousel.controls-top-right .flex-direction-nav a.flex-next {
  right: 0;
}
/* @section 2.9 backgrounds */
.bg-faces {
  background-image: url('../img/backgrounds/faces.jpg');
  background-size: auto 250px;
  background-repeat: repeat-x;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .bg-faces {
    background-image: url('../img/backgrounds/faces@2x.jpg');
    background-size: auto 250px;
  }
}
.bg-faces .filter {
  min-height: 250px;
}
.bg-blurred {
  background: url(../img/backgrounds/people-blur.jpg) left top no-repeat;
}
.bg-blurred .filter {
  padding: 5em 0;
}
.filter {
  color: #ffffff;
}
.filter h1,
.filter h2,
.filter h3,
.filter h4,
.filter h5,
.filter h6,
.filter p {
  color: #ffffff;
  margin: 0;
}
.filter.light {
  background-color: #066774;
  background-color: rgba(6, 103, 116, 0.7);
}
.filter.dark {
  background-color: #5d65a9;
  background-color: rgba(47, 54, 106, 0.8);
}
.img-bg-primary {
  background-color: #5d65a9;
}
.img-bg-primary-light {
  background-color: #54bcc8;
}
.img-bg-primary-dark {
  background-color: #2e356a;
}
/* @section 2.10 icons */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
}
[class^="icon-"].primary,
[class*=" icon-"].primary {
  background-color: #5d65a9;
}
.wrap-round {
  -webkit-border-radius: 300%;
  -moz-border-radius: 300%;
  border-radius: 300%;
  background-color: #5d65a9;
  display: inline-block;
  padding: 2em;
}
.wrap-round .icon-5x {
  width: 100%;
}
/*******************************************************
 *
 * @section 3. Bootstrap overrides
 * 
 ******************************************************/
/* @section 3.1 alerts */
.alert {
  padding: 20px 25px 20px 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  position: relative;
  border-color: #faf8d2;
  background: #ffffe5;
  font-size: 1.2em;
}
.alert:before,
.alert:after {
  display: table;
  content: "";
  line-height: 0;
}
.alert:after {
  clear: both;
}
.alert .close,
.alert h4,
.alert h3,
.alert h2,
.alert h1 {
  color: #bea33c;
}
.alert .close.title,
.alert h4.title,
.alert h3.title,
.alert h2.title,
.alert h1.title {
  margin: 0;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1;
}
.alert [class^="icon-"],
.alert [class*=" icon-"] {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 100%;
  font-size: 30px;
  margin-top: -15px;
}
.alert.alert-with-icon {
  padding-left: 60px;
}
.alert .close {
  top: -20px;
  right: -15px;
}
.alert-success {
  border-color: #d8f1bf;
  background: #f1ffe1;
}
.alert-success .close,
.alert-success h4,
.alert-success h3,
.alert-success h2,
.alert-success h1 {
  color: #7bb03f;
}
.alert-danger,
.alert-error {
  border-color: #f8b6b6;
  background: #ffe5e5;
}
.alert-danger .close,
.alert-error .close,
.alert-danger h4,
.alert-error h4,
.alert-danger h3,
.alert-error h3,
.alert-danger h2,
.alert-error h2,
.alert-danger h1,
.alert-error h1 {
  color: #bd3c3c;
}
.alert-info {
  border-color: #e0e7f3;
  background: #f0f2f8;
}
.alert-info .close,
.alert-info h4,
.alert-info h3,
.alert-info h2,
.alert-info h1 {
  color: #597090;
}
/* @section 3.2 utilities */
.i-float {
  *zoom: 1;
}
.i-float:before,
.i-float:after {
  display: table;
  content: "";
  line-height: 0;
}
.i-float:after {
  clear: both;
}
.i-float i,
.i-float span {
  float: left;
  text-align: left;
  width: 14%;
  display: block;
}
.i-float span {
  width: 84%;
}
.margin-top {
  margin-top: 2em;
}
.margin-top-small {
  margin-top: 1em;
}
.margin-top-large {
  margin-top: 3em;
}
.pull-right {
  text-align: right;
}
.pull-center {
  text-align: center;
}
.inline-el {
  display: inline-block;
}
.inline-el h1,
.inline-el h2,
.inline-el h3,
.inline-el h4,
.inline-el h5,
.inline-el p {
  margin: 0;
}
.well-small {
  padding: 9px;
}
.well-mini {
  padding: 5px;
}
.well.well-white {
  background-color: #ffffff;
  border: none;
}
.overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-wrapper.overlay-wrapper-bordered {
  border-bottom: 5px solid transparent;
}
.overlay-wrapper.overlay-wrapper-bordered:hover {
  border-bottom: 5px solid #d6daf5;
}
.overlay-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(84, 188, 200, 0.8);
  color: #ffffff;
  z-index: 100;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 220ms ease-out;
  -moz-transition: all 220ms ease-out;
  -o-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
  text-align: center;
  padding: 5% 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.overlay-wrapper .overlay.on {
  opacity: 1;
  filter: alpha(opacity=100);
}
.overlay-wrapper .underlay {
  z-index: 99;
}
.overlay-wrapper:hover .overlay,
.overlay-wrapper.flex-active .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.overlay-wrapper:hover .overlay.on,
.overlay-wrapper.flex-active .overlay.on {
  opacity: 0;
  filter: alpha(opacity=0);
}
.hidden {
  visibility: hidden;
  display: none;
}
.fancy {
  font-family: 'Condiment', cursive;
}
.spacer {
  font-weight: bold;
  color: #5d65a9;
}
.spacer.dark {
  color: #2e356a;
}
/* @section 3.3 forms */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}
.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
/* @section 3.4 accordion */
.accordion-group {
  margin-bottom: 0;
}
.accordion-heading .accordion-toggle {
  padding: 0;
  border: none;
  display: block;
  line-height: 40px;
  font-size: 18px;
}
.accordion-heading .accordion-toggle i {
  height: 46px;
  line-height: 46px;
  width: 46px;
  font-size: 24px;
}
.accordion-inner {
  background: #ffffff;
}
/* @section 3.5 buttons */
.btn {
  text-transform: uppercase;
  background-color: #eeeeee;
  background: #eeeeee;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-color: #e1e1e1 #e1e1e1 #bbbbbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  color: #2D3469;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: 700;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e1e1e1;
  background: #e1e1e1;
}
.btn:active,
.btn.active {
  background-color: #c8c8c8 \9;
  background: #c8c8c8 \9;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  padding-right: 8px;
}
.btn-shadow {
  -webkit-box-shadow: 0 1px 5px #969696;
  -moz-box-shadow: 0 1px 5px #969696;
  box-shadow: 0 1px 5px #969696;
}
.btn-large {
  padding: 16px 30px;
  font-size: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 0;
  font-size: 24px;
  padding-left: 12px;
}
.btn-small {
  padding: 8px 12px;
  font-size: 9.6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 3px 6px;
  font-size: 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-group > .btn-mini {
  font-size: 8px;
}
.btn-group > .btn-small {
  font-size: 9.6px;
}
.btn-group > .btn-large {
  font-size: 14px;
}
.btn-primary {
  text-shadow: none;
  background-color: #5d65a9;
  background: #5d65a9;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #4d5490 #4d5490 #32375f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #4d5490;
  background: #4d5490;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #3b416f \9;
  background: #3b416f \9;
}
.btn-warning {
  background-color: #f89406;
  background: #f89406;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #df8505 #df8505 #945904;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #df8505;
  background: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #ad6704 \9;
  background: #ad6704 \9;
}
.btn-danger {
  background-color: #ee5f5b;
  background: #ee5f5b;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  background: #bd362f;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
  background: #942a25 \9;
}
.btn-success {
  background-color: #1b7b00;
  background: #1b7b00;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  background: #51a351;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
  background: #408140 \9;
}
.btn-info {
  background-color: #5bc0de;
  background: #5bc0de;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  background: #2f96b4;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
  background: #24748c \9;
}
.btn-inverse {
  background-color: #343331;
  background: #343331;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #4d4d4d #4d4d4d #262626;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #4d4d4d;
  background: #4d4d4d;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #333333 \9;
  background: #333333 \9;
}
.btn-group {
  text-align: center;
}
.btn-group .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group .btn:first-child {
  border-right: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.btn-group .btn:last-child {
  border-left: 0;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  padding-right: 4px;
  padding-left: 0;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  padding-right: 8px;
  padding-left: 0;
}
.btn.btn-square {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.btn-icon-right [class^="icon-"],
.btn-icon-right [class*=" icon-"] {
  padding-left: 4px;
  padding-right: 0;
}
.btn-icon-right.btn-large [class^="icon-"],
.btn-icon-right.btn-large [class*=" icon-"] {
  padding-left: 8px;
  padding-right: 0;
}
.btn-primary-dark {
  text-shadow: none;
  background-color: #5d65a9;
  background: #5d65a9;
  border-color: #4d5490 #4d5490 #32375f;
  background-color: #2e356a;
  background: #2e356a;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #3d478e #3d478e #262c58;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary-dark:hover,
.btn-primary-dark:focus,
.btn-primary-dark:active,
.btn-primary-dark.active,
.btn-primary-dark.disabled,
.btn-primary-dark[disabled] {
  color: #ffffff;
  background-color: #4d5490;
  background: #4d5490;
}
.btn-primary-dark:active,
.btn-primary-dark.active {
  background-color: #3b416f \9;
  background: #3b416f \9;
}
.btn-primary-dark:hover,
.btn-primary-dark:focus,
.btn-primary-dark:active,
.btn-primary-dark.active,
.btn-primary-dark.disabled,
.btn-primary-dark[disabled] {
  color: #ffffff;
  background-color: #3d478e;
  background: #3d478e;
}
.btn-primary-dark:active,
.btn-primary-dark.active {
  background-color: #2e356a \9;
  background: #2e356a \9;
}
.btn-primary-light {
  text-shadow: none;
  background-color: #5d65a9;
  background: #5d65a9;
  border-color: #4d5490 #4d5490 #32375f;
  background-color: #54bcc8;
  background: #54bcc8;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #39a4b0 #39a4b0 #266e76;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary-light:hover,
.btn-primary-light:focus,
.btn-primary-light:active,
.btn-primary-light.active,
.btn-primary-light.disabled,
.btn-primary-light[disabled] {
  color: #ffffff;
  background-color: #4d5490;
  background: #4d5490;
}
.btn-primary-light:active,
.btn-primary-light.active {
  background-color: #3b416f \9;
  background: #3b416f \9;
}
.btn-primary-light:hover,
.btn-primary-light:focus,
.btn-primary-light:active,
.btn-primary-light.active,
.btn-primary-light.disabled,
.btn-primary-light[disabled] {
  color: #ffffff;
  background-color: #39a4b0;
  background: #39a4b0;
}
.btn-primary-light:active,
.btn-primary-light.active {
  background-color: #2c808a \9;
  background: #2c808a \9;
}
.btn-primary-grad {
  text-shadow: none;
  background-color: #5d65a9;
  background: #5d65a9;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #4d5490 #4d5490 #32375f;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #eff0fb;
  background-image: -moz-linear-gradient(top, #ffffff, #d6daf5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d6daf5));
  background-image: -webkit-linear-gradient(top, #ffffff, #d6daf5);
  background-image: -o-linear-gradient(top, #ffffff, #d6daf5);
  background-image: linear-gradient(to bottom, #ffffff, #d6daf5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd6daf5', GradientType=0);
  border-color: #d6daf5 #d6daf5 #98a2e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d6daf5;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  color: #2D3469;
  -webkit-box-shadow: 0 1px 5px #969696;
  -moz-box-shadow: 0 1px 5px #969696;
  box-shadow: 0 1px 5px #969696;
  -webkit-box-shadow: 0 0 2px #2d3469;
  -moz-box-shadow: 0 0 2px #2d3469;
  box-shadow: 0 0 2px #2d3469;
}
.btn-primary-grad:hover,
.btn-primary-grad:focus,
.btn-primary-grad:active,
.btn-primary-grad.active,
.btn-primary-grad.disabled,
.btn-primary-grad[disabled] {
  color: #ffffff;
  background-color: #4d5490;
  background: #4d5490;
}
.btn-primary-grad:active,
.btn-primary-grad.active {
  background-color: #3b416f \9;
  background: #3b416f \9;
}
.btn-primary-grad:hover,
.btn-primary-grad:focus,
.btn-primary-grad:active,
.btn-primary-grad.active,
.btn-primary-grad.disabled,
.btn-primary-grad[disabled] {
  color: #333333;
  background-color: #d6daf5;
  *background-color: #c1c7f0;
}
.btn-primary-grad:active,
.btn-primary-grad.active {
  background-color: #adb5eb \9;
}
.btn-alt {
  background-color: #006c4f;
  background: #006c4f;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #008662 #008662 #00392a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active,
.btn-alt.active,
.btn-alt.disabled,
.btn-alt[disabled] {
  color: #ffffff;
  background-color: #008662;
  background: #008662;
}
.btn-alt:active,
.btn-alt.active {
  background-color: #00533c \9;
  background: #00533c \9;
}
.btn-alt-dark {
  background-color: #006c4f;
  background: #006c4f;
  border-color: #008662 #008662 #00392a;
  background-color: #002017;
  background: #002017;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #004835 #004835 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-alt-dark:hover,
.btn-alt-dark:focus,
.btn-alt-dark:active,
.btn-alt-dark.active,
.btn-alt-dark.disabled,
.btn-alt-dark[disabled] {
  color: #ffffff;
  background-color: #008662;
  background: #008662;
}
.btn-alt-dark:active,
.btn-alt-dark.active {
  background-color: #00533c \9;
  background: #00533c \9;
}
.btn-alt-dark:hover,
.btn-alt-dark:focus,
.btn-alt-dark:active,
.btn-alt-dark.active,
.btn-alt-dark.disabled,
.btn-alt-dark[disabled] {
  color: #ffffff;
  background-color: #004835;
  background: #004835;
}
.btn-alt-dark:active,
.btn-alt-dark.active {
  background-color: #001510 \9;
  background: #001510 \9;
}
.btn-alt-light {
  background-color: #006c4f;
  background: #006c4f;
  border-color: #008662 #008662 #00392a;
  background-color: #00b685;
  background: #00b685;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #009d73 #009d73 #00503b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-alt-light:hover,
.btn-alt-light:focus,
.btn-alt-light:active,
.btn-alt-light.active,
.btn-alt-light.disabled,
.btn-alt-light[disabled] {
  color: #ffffff;
  background-color: #008662;
  background: #008662;
}
.btn-alt-light:active,
.btn-alt-light.active {
  background-color: #00533c \9;
  background: #00533c \9;
}
.btn-alt-light:hover,
.btn-alt-light:focus,
.btn-alt-light:active,
.btn-alt-light.active,
.btn-alt-light.disabled,
.btn-alt-light[disabled] {
  color: #ffffff;
  background-color: #009d73;
  background: #009d73;
}
.btn-alt-light:active,
.btn-alt-light.active {
  background-color: #006a4d \9;
  background: #006a4d \9;
}
.btn-alt-grad {
  background-color: #006c4f;
  background: #006c4f;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #008662 #008662 #00392a;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #def6eb;
  background-image: -moz-linear-gradient(top, #d5f4e6, #ebfaf3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d5f4e6), to(#ebfaf3));
  background-image: -webkit-linear-gradient(top, #d5f4e6, #ebfaf3);
  background-image: -o-linear-gradient(top, #d5f4e6, #ebfaf3);
  background-image: linear-gradient(to bottom, #d5f4e6, #ebfaf3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd5f4e6', endColorstr='#ffebfaf3', GradientType=0);
  border-color: #ebfaf3 #ebfaf3 #aeebce;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ebfaf3;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  color: #002017;
  -webkit-box-shadow: 0 1px 5px #969696;
  -moz-box-shadow: 0 1px 5px #969696;
  box-shadow: 0 1px 5px #969696;
  -webkit-box-shadow: 0 0 2px #2d3469;
  -moz-box-shadow: 0 0 2px #2d3469;
  box-shadow: 0 0 2px #2d3469;
}
.btn-alt-grad:hover,
.btn-alt-grad:focus,
.btn-alt-grad:active,
.btn-alt-grad.active,
.btn-alt-grad.disabled,
.btn-alt-grad[disabled] {
  color: #ffffff;
  background-color: #008662;
  background: #008662;
}
.btn-alt-grad:active,
.btn-alt-grad.active {
  background-color: #00533c \9;
  background: #00533c \9;
}
.btn-alt-grad:hover,
.btn-alt-grad:focus,
.btn-alt-grad:active,
.btn-alt-grad.active,
.btn-alt-grad.disabled,
.btn-alt-grad[disabled] {
  color: #333333;
  background-color: #ebfaf3;
  *background-color: #d7f5e7;
}
.btn-alt-grad:active,
.btn-alt-grad.active {
  background-color: #c2f0db \9;
}
.btn-alt-grad:hover {
  color: #000000;
}
/* @section 3.6 modal */
.modal {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.modal.modal-inline {
  position: relative;
}
.modal.small {
  width: 400px;
  margin-left: -200px;
  padding: 1em;
}
.modal.medium {
  width: 600px;
  margin-left: -300px;
  padding: 1em;
}
.modal form {
  margin-bottom: 0;
}
.modal form input {
  margin-bottom: 5px;
}
.modal form input.login {
  margin-top: 5px;
  display: block;
  width: 100%;
}
.modal .modal-header h3 {
  font-weight: 300;
}
.modal .modal-body {
  padding: 30px;
  max-height: none;
  overflow: visible;
}
.modal .modal-footer {
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.modal .modal-footer small {
  display: block;
}
.modal a {
  color: #5d65a9;
  text-transform: none;
}
.modal a.signup {
  text-transform: uppercase;
}
/* @section 3.7 progress bars */
.progress {
  overflow: hidden;
  height: 50px;
  margin-bottom: 0;
  background: #ffffff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.progress .bar {
  width: 0%;
  height: 100%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #5d65a9;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
}
.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -o-background-size: 50px 50px;
  background-size: 50px 50px;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}
.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
/*******************************************************
 *
 * @section 4. Page specific
 * 
 ******************************************************/
/* @section 4.1 about */
.about {
  min-height: 300px;
  background-color: #5d65a9;
  color: #FDFDFD;
  padding-bottom: 4em;
}
.about .photo img {
  border: 4px solid #7C82B9;
}
.about .details {
  padding-left: 2em;
}
.about .details .primary-focus {
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  color: #ffffff;
}
.about .details .secondary-focus {
  font-size: 38px;
  color: #2e356a;
}
.about .details p {
  font-weight: 100;
  font-size: 20px;
}
.about .details .btn {
  -webkit-box-shadow: 0 0 2px #2e356a;
  -moz-box-shadow: 0 0 2px #2e356a;
  box-shadow: 0 0 2px #2e356a;
}
@media (max-width: 767px) {
  .about {
    min-height: 100px;
    text-align: center;
    padding-bottom: 2em;
  }
  .about .photo img {
    max-width: 140px;
  }
  .about .details {
    padding: 0;
  }
  .about .details .primary-focus {
    font-size: 320%;
    line-height: 1;
  }
  .about .details .secondary-focus {
    font-size: 200%;
    line-height: 1;
  }
  .about .details p {
    font-size: 120%;
  }
}
/* @section 4.2 work */
.work .flex-direction-nav {
  display: block;
}
.work .flex-direction-nav a {
  top: auto;
  bottom: 20px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  background: #fff;
  right: 61px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.work .flex-direction-nav a.flex-next {
  right: 20px;
}
.work #full-view {
  position: relative;
  background-color: #edf0f4;
  list-style: none;
  margin: 0 0 1px 0;
  border: 1px dotted #D8DFE7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 20px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.work #full-view .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 0;
  text-align: center;
}
.work #full-view .close:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
  display: inline-block;
  content: "\e0fc";
  font-size: 18px;
}
.work .items {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.work .items .item {
  display: block;
  float: left;
  width: 12.5%;
  max-width: 146px;
  margin: 0 0;
}
.work .items .item a {
  background: #ccc;
  display: block;
}
.work .items .item a img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.work .items .item a i {
  color: #ffffff;
}
.work .items .item a:hover,
.work .items .item a.flex-active {
  background: #54bcc8;
}
.work .items .item a:hover img,
.work .items .item a.flex-active img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.work .items .item .project-title {
  margin: 5px 0 0 0;
  font-size: 16px;
  display: block;
}
.clients {
  background-color: #f6f7f9;
  border-bottom: 4px solid #edf0f4;
}
.clients .flex-viewport {
  margin: 0 80px;
}
.clients .items {
  padding: 0.5em 0;
  *zoom: 1;
}
.clients .items:before,
.clients .items:after {
  display: table;
  content: "";
  line-height: 0;
}
.clients .items:after {
  clear: both;
}
.clients .items .item {
  float: left;
  width: 250px;
  margin: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .work #full-view {
    display: block !important;
  }
  .work #full-view .close {
    display: none;
  }
  .work .work-items {
    display: none;
  }
}
@media (max-width: 480px) {
  .work #full-view {
    padding: 10px;
  }
  .work #full-view h3.title {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .work #full-view p {
    font-size: 15px;
    line-height: 1.2;
  }
  .work .flex-direction-nav {
    display: none;
  }
  .clients .flex-viewport {
    width: 250px;
    margin: 0 auto;
  }
}
/* @section 4.3 services */
#services {
  border-bottom: 4px solid #D8DFE7;
  padding-bottom: 4em;
}
#services .service {
  text-align: center;
  padding: 1em;
}
#services .service h3 {
  font-size: 2em;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}
#services .service p {
  line-height: 120%;
}
@media (max-width: 767px) {
  #services {
    padding-bottom: 2em;
  }
}
[class^="service-"],
[class*=" service-"] {
  display: block;
  height: 100px;
  width: 100px;
}
[class^="service-"].centered,
[class*=" service-"].centered {
  margin: 0 auto;
}
.service-agile {
  background-image: url('../img/services/service-agile.png');
  background-size: 100px 100px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .service-agile {
    background-image: url('../img/services/service-agile@2x.png');
    background-size: 100px 100px;
  }
}
.service-backend {
  background-image: url('../img/services/service-backend.png');
  background-size: 100px 100px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .service-backend {
    background-image: url('../img/services/service-backend@2x.png');
    background-size: 100px 100px;
  }
}
.service-css3 {
  background-image: url('../img/services/service-css3.png');
  background-size: 100px 100px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .service-css3 {
    background-image: url('../img/services/service-css3@2x.png');
    background-size: 100px 100px;
  }
}
.service-drupal {
  background-image: url('../img/services/service-drupal.png');
  background-size: 100px 100px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .service-drupal {
    background-image: url('../img/services/service-drupal@2x.png');
    background-size: 100px 100px;
  }
}
.service-html5 {
  background-image: url('../img/services/service-html5.png');
  background-size: 100px 100px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .service-html5 {
    background-image: url('../img/services/service-html5@2x.png');
    background-size: 100px 100px;
  }
}
.service-pm {
  background-image: url('../img/services/service-pm.png');
  background-size: 100px 100px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .service-pm {
    background-image: url('../img/services/service-pm@2x.png');
    background-size: 100px 100px;
  }
}
.service-wordpress {
  background-image: url('../img/services/service-wordpress.png');
  background-size: 100px 100px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .service-wordpress {
    background-image: url('../img/services/service-wordpress@2x.png');
    background-size: 100px 100px;
  }
}
/* @section 4.4 misc */
#facts h1,
#facts h2,
#facts h3,
#facts h4 {
  color: #ffffff;
}
/* @section 4.5 timeline */
.timeline-list-reset {
  *zoom: 1;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.timeline-list-reset:before,
.timeline-list-reset:after {
  display: table;
  content: "";
  line-height: 0;
}
.timeline-list-reset:after {
  clear: both;
}
.experience .timeline {
  margin-top: 2em;
}
.timeline {
  *zoom: 1;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-image: url('../img/misc/bg_timeline-line.png');
  background-size: 2px auto;
  background-repeat: repeat-y;
  background-position: center top;
}
.timeline:before,
.timeline:after {
  display: table;
  content: "";
  line-height: 0;
}
.timeline:after {
  clear: both;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .timeline {
    background-image: url('../img/misc/bg_timeline-line@2x.png');
    background-size: 2px auto;
  }
}
.timeline ul {
  *zoom: 1;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 2em 0 6em 0;
}
.timeline ul:before,
.timeline ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.timeline ul:after {
  clear: both;
}
.timeline-breaker {
  background: #0C0F32;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1;
  display: block;
  position: relative;
}
.timeline-breaker:after,
.timeline-breaker:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.timeline-breaker:after {
  border-top-color: #0C0F32;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.timeline-breaker:before {
  border-top-color: rgba(0, 0, 0, 0.01);
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.timeline-item {
  float: left;
  width: 42%;
  padding: 2%;
  background: #edf0f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  margin-top: -80px;
  position: relative;
  right: 30px;
  margin-left: 4%;
  clear: both;
}
.timeline-item:before,
.timeline-item:after {
  display: table;
  content: "";
  line-height: 0;
}
.timeline-item:after {
  clear: both;
}
.timeline-item:after,
.timeline-item:before {
  top: 50%;
  right: -20px;
  position: absolute;
  pointer-events: none;
  margin: 0;
  display: block;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  margin-top: -15px;
}
.timeline-item:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F0DA';
  color: #edf0f5;
}
.timeline-item:after {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F140';
  right: -45px;
  background: white;
}
.timeline-item:first-child {
  margin-top: 0;
}
.timeline-item.right {
  float: right;
  left: 30px;
  right: 0;
  margin-right: 4%;
  margin-left: 0;
}
.timeline-item.right:after,
.timeline-item.right:before {
  left: -20px;
}
.timeline-item.right:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F0D9';
}
.timeline-item.right:after {
  left: -45px;
}
.timeline-item.overlap-off {
  margin-top: 0;
}
.timeline-item.overlap-pull-large {
  margin-top: -120px;
}
.timeline-item.overlap-pull-small {
  margin-top: -30px;
}
.timeline-item.overlap-push-large {
  margin-top: 120px;
}
.timeline-item.overlap-push-medium {
  margin-top: 60px;
}
.timeline-item.overlap-push-small {
  margin-top: 30px;
}
.timeline-item-date {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}
.timeline-item-role {
  margin: 0 0 10px 0;
}
.timeline-item-description {
  font-size: 15px;
  line-height: 1.4;
}
.timeline-item-photo {
  float: left;
  margin-right: 1em;
}
.timeline-item-photo.right {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}
.timeline-end {
  text-align: center;
  background: #ffffff;
}
.timeline-end .timeline-breaker {
  margin-bottom: 5px;
  width: auto;
  background-color: transparent;
  color: #0C0F32;
}
.timeline-end .timeline-breaker:after,
.timeline-end .timeline-breaker:before {
  display: none;
}
.timeline-end .btn {
  min-width: 200px;
}
.timeline-stacked.timeline ul {
  padding: 1em 2em 6em 2em;
}
.timeline-stacked .timeline-item {
  float: none;
  left: auto;
  right: auto;
  width: 80%;
  margin: 60px auto 0 auto;
}
.timeline-stacked .timeline-item.right {
  float: none;
  left: auto;
  right: auto;
}
.timeline-stacked .timeline-item.right:after,
.timeline-stacked .timeline-item.right:before,
.timeline-stacked .timeline-item:after,
.timeline-stacked .timeline-item:before {
  top: -20px;
  right: 50%;
  left: 50%;
  margin-top: 0;
  margin-left: -15px;
}
.timeline-stacked .timeline-item.right:before,
.timeline-stacked .timeline-item:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F0D8';
}
.timeline-stacked .timeline-item.right:after,
.timeline-stacked .timeline-item:after {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F140';
  top: -40px;
}
.timeline-stacked.down .timeline-item:first-child {
  margin-top: 0;
}
.timeline-stacked.down .timeline-item:last-child {
  margin-bottom: 60px;
}
.timeline-stacked.down .timeline-item.right:after,
.timeline-stacked.down .timeline-item.right:before,
.timeline-stacked.down .timeline-item:after,
.timeline-stacked.down .timeline-item:before {
  bottom: -20px;
  top: auto;
}
.timeline-stacked.down .timeline-item.right:before,
.timeline-stacked.down .timeline-item:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F0D7';
}
.timeline-stacked.down .timeline-item.right:after,
.timeline-stacked.down .timeline-item:after {
  bottom: -40px;
  top: auto;
}
.timeline-stacked .timeline-item-photo {
  max-width: 50px;
  margin-bottom: 0.5em;
}
.timeline-stacked .timeline-item:first-child,
.timeline-stacked .timeline-item.overlap-off,
.timeline-stacked .timeline-item.overlap-pull-large,
.timeline-stacked .timeline-item.overlap-pull-small,
.timeline-stacked .timeline-item.overlap-push-large,
.timeline-stacked .timeline-item.overlap-push-medium {
  margin-top: 60px;
}
.timeline .timeline-item.highlight:after {
  color: #54bcc8;
}
@media (max-width: 767px) {
  .timeline ul {
    padding: 1em 2em 6em 2em;
  }
  .timeline-item {
    float: none;
    left: auto;
    right: auto;
    width: 80%;
    margin: 60px auto 0 auto;
  }
  .timeline-item.right {
    float: none;
    left: auto;
    right: auto;
  }
  .timeline-item.right:after,
  .timeline-item.right:before,
  .timeline-item:after,
  .timeline-item:before {
    top: -20px;
    right: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -15px;
  }
  .timeline-item.right:before,
  .timeline-item:before {
    font-family: FontAwesome;
    font-style: normal;
    speak: none;
    display: inline-block;
    content: '\F0D8';
  }
  .timeline-item.right:after,
  .timeline-item:after {
    font-family: FontAwesome;
    font-style: normal;
    speak: none;
    display: inline-block;
    content: '\F140';
    top: -40px;
  }
  .down .timeline-item:first-child {
    margin-top: 0;
  }
  .down .timeline-item:last-child {
    margin-bottom: 60px;
  }
  .down .timeline-item.right:after,
  .down .timeline-item.right:before,
  .down .timeline-item:after,
  .down .timeline-item:before {
    bottom: -20px;
    top: auto;
  }
  .down .timeline-item.right:before,
  .down .timeline-item:before {
    font-family: FontAwesome;
    font-style: normal;
    speak: none;
    display: inline-block;
    content: '\F0D7';
  }
  .down .timeline-item.right:after,
  .down .timeline-item:after {
    bottom: -40px;
    top: auto;
  }
  .timeline-item-photo {
    max-width: 50px;
    margin-bottom: 0.5em;
  }
  .timeline-item:first-child,
  .timeline-item.overlap-off,
  .timeline-item.overlap-pull-large,
  .timeline-item.overlap-pull-small,
  .timeline-item.overlap-push-large,
  .timeline-item.overlap-push-medium {
    margin-top: 60px;
  }
  .timeline .timeline-breaker {
    padding-left: 0;
    padding-right: 0;
  }
  .timeline .timeline-item {
    width: 96%;
  }
  .timeline-end .timeline-breaker {
    margin-bottom: 5px;
  }
  .timeline-end .btn {
    display: block;
  }
}
@media (max-width: 480px) {
  .timeline ul {
    padding-left: 0;
    padding-right: 0;
  }
  .timeline .timeline-item {
    padding: 4%;
    width: 92%;
  }
  .timeline .timeline-item .timeline-item-photo {
    max-width: 50px;
  }
}
/* @section 4.6 testimonials */
.testimonials {
  padding-top: 0;
  border-bottom: 4px solid #D8DFE7;
}
.testimonials .flexslider {
  padding-bottom: 40px;
}
.testimonials .flex-direction-nav {
  display: none;
}
.testimonials .flex-control-nav {
  bottom: 15px;
}
.testimonials .filter {
  max-height: 250px;
  height: 250px;
}
.testimonials .filter h2 {
  color: #ffffff;
  padding-top: 100px;
  margin: 0;
  font-size: 60px;
}
blockquote {
  padding: 1em 5em;
  margin: 0;
  border-left: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
blockquote:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: "\f10d";
  font-size: 50px;
  padding: 0.5em 0;
  color: #54bcc8;
}
blockquote p {
  padding: 0;
  margin: 0;
  font-size: 2.2em;
  font-style: italic;
}
blockquote small {
  display: block;
  padding: 10px 0 0 0;
  font-size: 16px;
  font-style: normal;
  color: #597090;
}
blockquote small:before {
  content: ' ';
}
blockquote small a {
  color: #54bcc8;
}
blockquote small a:hover {
  color: #5d65a9;
}
.flexslider blockquote,
.flexslider-carousel blockquote {
  padding: 0 10em 1em 10em;
  float: left;
}
@media (max-width: 767px) {
  .flexslider blockquote,
  .flexslider-carousel blockquote {
    padding: 1em;
  }
}
@media (max-width: 480px) {
  .flexslider blockquote,
  .flexslider-carousel blockquote {
    padding: 1em;
  }
}
/* @section 4.7 contact */
.contact select,
.contact textarea,
.contact input[type="text"],
.contact input[type="password"],
.contact input[type="datetime"],
.contact input[type="datetime-local"],
.contact input[type="date"],
.contact input[type="month"],
.contact input[type="time"],
.contact input[type="week"],
.contact input[type="number"],
.contact input[type="email"],
.contact input[type="url"],
.contact input[type="search"],
.contact input[type="tel"],
.contact input[type="color"],
.contact .uneditable-input {
  height: 60px;
  padding: 4px 20px;
  display: block;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  width: 100%;
  margin-bottom: 20px;
  background-color: #5d65a9;
  color: #eee;
  font-weight: 100;
}
.contact select:focus,
.contact textarea:focus,
.contact input[type="text"]:focus,
.contact input[type="password"]:focus,
.contact input[type="datetime"]:focus,
.contact input[type="datetime-local"]:focus,
.contact input[type="date"]:focus,
.contact input[type="month"]:focus,
.contact input[type="time"]:focus,
.contact input[type="week"]:focus,
.contact input[type="number"]:focus,
.contact input[type="email"]:focus,
.contact input[type="url"]:focus,
.contact input[type="search"]:focus,
.contact input[type="tel"]:focus,
.contact input[type="color"]:focus,
.contact .uneditable-input:focus {
  color: #ffffff;
}
.contact textarea {
  height: 140px;
  padding: 15px 20px;
}
.contact .btn {
  float: right;
}
.contact address {
  font-size: 1.2em;
  color: #647a97;
}
.contact address a {
  font-weight: 600;
  font-size: 0.9em;
}
.contact address a i {
  font-size: 1.6em;
  color: #2e356a;
}
.contact address a:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .contact select,
  .contact textarea,
  .contact input[type="text"],
  .contact input[type="password"],
  .contact input[type="datetime"],
  .contact input[type="datetime-local"],
  .contact input[type="date"],
  .contact input[type="month"],
  .contact input[type="time"],
  .contact input[type="week"],
  .contact input[type="number"],
  .contact input[type="email"],
  .contact input[type="url"],
  .contact input[type="search"],
  .contact input[type="tel"],
  .contact input[type="color"],
  .contact .uneditable-input {
    margin-bottom: 10px;
  }
  .contact .btn {
    float: none;
    display: block;
    width: 100%;
  }
  .contact address {
    margin-top: 20px;
  }
}
/* @section 4.8 elements */
.page-elements #content .title-divider:first-child {
  margin: 1em 0 0 0;
  font-weight: 600;
}
.page-elements .buttons button {
  display: block;
  margin-bottom: 5px;
  min-width: 120px;
}
.page-elements .buttons .spacer {
  margin-bottom: 2em;
}
.page-elements .buttons .inline-buttons button {
  display: inline-block;
}
.page-elements .services-graphics {
  *zoom: 1;
  margin-bottom: 2em;
}
.page-elements .services-graphics:before,
.page-elements .services-graphics:after {
  display: table;
  content: "";
  line-height: 0;
}
.page-elements .services-graphics:after {
  clear: both;
}
.page-elements .services-graphics [class^="service-"],
.page-elements .services-graphics [class*=" service-"] {
  float: left;
  margin-right: 1em;
}
.page-elements .backgrounds .bg-faces,
.page-elements .backgrounds .bg-blurred {
  margin-bottom: 10px;
}
.page-elements .backgrounds .bg-faces .filter h1,
.page-elements .backgrounds .bg-faces .filter h2,
.page-elements .backgrounds .bg-faces .filter h3,
.page-elements .backgrounds .bg-faces .filter h4,
.page-elements .backgrounds .bg-faces .filter h5,
.page-elements .backgrounds .bg-faces .filter h6 {
  padding-top: 90px;
}
/*******************************************************
 *
 * @section 5. General Responsive work
 * 
 ******************************************************/
@media (max-width: 979px) {
  
}
@media (min-width: 980px) {
  
}
@media (min-width: 1200px) {
  
}
@media (max-width: 979px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .modal.small,
  .modal.medium {
    width: auto;
    margin-left: 0;
    padding: 1em;
    left: 0;
    right: 0;
    top: 0;
  }
  .block {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .block.thin {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .block.large {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .tab-content,
  .pill-content {
    overflow: visible;
  }
  .tab-content .tab-pane,
  .pill-content .tab-pane,
  .tab-content .pill-pane,
  .pill-content .pill-pane {
    display: block;
    margin-bottom: 2em;
  }
}
@media (max-width: 480px) {
  #footer .pull-right {
    text-align: left;
    float: none;
  }
}
